//header style section
#header{
    header{
      width: 100%;
      @include flex(flex, space-between, flex-start);
      @include margin-padding(100px, 0,0 ,0 );
      .right-side{
        @include section-divider(flex,67%,67%);
        position: relative;
        .gear-1{
          position: absolute;
          top: 0;
          right: 20px;
          font-size: $font-size + 24px;
          color: #6b6b6b;
          animation: gear-1 10s linear infinite;
        }
        @keyframes gear-1 {
          100%{
            transform: rotate(360deg);
          }
        }
        .gear-2{
          position: absolute;
          top: 0;
          right: 0;
          font-size: $font-size + 4px;
          color: #4e4e4e;
          animation: gear-2 10s linear infinite;
        }
        @keyframes gear-2 {
          100%{
            transform: rotate(-360deg);
          }
        }
        .square-1{
          position: absolute;
          top: 0;
          left: 80px;
          background-color: transparent;
          width: 20px;
          height: 20px;
          border: 4px solid #dddddd;
          animation: square-1 15s linear infinite;
        }
        @keyframes square-1 {
          100%{
            transform: rotate(-360deg);
          }
        }
        .square-2{
          position: absolute;
          bottom: -20px;
          left: 130px;
          background-color: transparent;
          width: 40px;
          height: 40px;
          border: 4px solid #3672e2;
          animation: square-2 25s linear infinite;
        }
        @keyframes square-2 {
          100%{
            transform: rotate(360deg);
          }
        }
        .square-3{
          position: absolute;
          bottom: 0;
          right: 80px;
          background-color: transparent;
          width: 30px;
          height: 30px;
          border: 4px solid #c7c7c7;
          animation: square-3 7s linear infinite;
        }
        @keyframes square-3 {
          100%{
            transform: rotate(-360deg);
          }
        }
      }
      .left-side{
        @include section-divider(flex,33%,33%);
        @include margin-padding(23%,0 ,0 ,0 ,false );
        h1{
          font-size: $font-size + 18;
          @include margin-padding(0,0 ,30px ,0)
        }
      }
    }
  }