//font variable
$font-path: "../fonts";
$font-family: vazir-medium;
$font-weight: 700;
$font-style: normal;
$font-size: 16px;
$defult-font-size: 16px;
$nav-link-color: #333;
$nav-link-hover-color: #0000e9;
$social-media-icon-color: #333;
$social-media-icon-hover-color: #858585;
//mixins
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin section-divider($-flex: flex, $flex-basis:null, $max-width:null) {
  display: $-flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}
@mixin border($-top:null,$-right:null ,$-bottom:null ,$-left:null ,$border-style:solid , $border-color:null) {
  border-width: $-top $-right $-bottom $-left;
  border-style: $border-style;
  border-color: $border-color;
}
@mixin border-radius($top-left ,$top-right ,$bottom-right ,$bottom-left ) {
border-radius: $top-left $top-right $bottom-right $bottom-left;
}
//reset
@font-face {
  font-family: $font-family;
  src: url("#{$font-path}/Vazir-Medium.eot") format("eot"),
    url("#{$font-path}/Vazir-Medium.ttf") format("ttf"),
    url("#{$font-path}/Vazir-Medium.woff") format("woff"),
    url("#{$font-path}/Vazir-Medium.woff2") format("woff2");
  font: {
    style: $font-style;
    weight: $font-weight;
  }
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
body{
  overflow-x: hidden;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

//public style
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.row {
  @include flex(flex, center, null);
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.mt-250{
  margin-top: 250px;
}
//menu style section
#navigation {
  position: sticky;
  top: 0;
  z-index: 20;
  .navbar {
    font-size: $defult-font-size;
    // background-color: #ccc;
    height: 60px;
    @include flex(flex, space-between, center);
    @include margin-padding(24px, 0, 24px, 0);
    ul {
      @extend .navbar;
      li {
        @include margin-padding(0, 0, 0, 18px);
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          top: 30px;
          right: 0;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          margin-top: 10px;
          background-color: #0000e9;
          transition: width 0.4s ease;
        }
        &:hover::after {
          width: 100%;
        }
        &:hover a {
          color: $nav-link-hover-color;
        }
      }
      a {
        color: $nav-link-color;
        transition: color 0.4s ease;
        //   @include margin-padding(0,0 ,20px , 0)
      }
    }
  }
  .social-media-icons {
    direction: ltr;
    a {
      @include margin-padding(0, 10px, 0, 0);
      color: $social-media-icon-color;
      font-size: $defult-font-size + 2px;
      transition: color 0.3s ease;
      &:hover {
        color: $social-media-icon-hover-color;
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  #navigation {
    .navbar {
      ul {
        li {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
//header style section
#header{
  header{
    width: 100%;
    @include flex(flex, space-between, flex-start);
    @include margin-padding(100px, 0,0 ,0 );
    .right-side{
      @include section-divider(flex,67%,67%);
      position: relative;
      .gear-1{
        position: absolute;
        top: 0;
        right: 20px;
        font-size: $font-size + 24px;
        color: #6b6b6b;
        animation: gear-1 10s linear infinite;
      }
      @keyframes gear-1 {
        100%{
          transform: rotate(360deg);
        }
      }
      .gear-2{
        position: absolute;
        top: 0;
        right: 0;
        font-size: $font-size + 4px;
        color: #4e4e4e;
        animation: gear-2 10s linear infinite;
      }
      @keyframes gear-2 {
        100%{
          transform: rotate(-360deg);
        }
      }
      .square-1{
        position: absolute;
        top: 0;
        left: 80px;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border: 4px solid #dddddd;
        animation: square-1 15s linear infinite;
      }
      @keyframes square-1 {
        100%{
          transform: rotate(-360deg);
        }
      }
      .square-2{
        position: absolute;
        bottom: -20px;
        left: 130px;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border: 4px solid #3672e2;
        animation: square-2 25s linear infinite;
      }
      @keyframes square-2 {
        100%{
          transform: rotate(360deg);
        }
      }
      .square-3{
        position: absolute;
        bottom: 0;
        right: 80px;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: 4px solid #c7c7c7;
        animation: square-3 7s linear infinite;
      }
      @keyframes square-3 {
        100%{
          transform: rotate(-360deg);
        }
      }
    }
    .left-side{
      @include section-divider(flex,33%,33%);
      @include margin-padding(23%,0 ,0 ,0 ,false );
      h1{
        font-size: $font-size + 18;
        @include margin-padding(0,0 ,30px ,0)
      }
    }
  }
}
//course style section
#course{
  position: relative;
  .pipe{
    position: absolute;
    width: 1762px;
    height: 370px;
    background: rgba(140, 124, 229, 0.1);
    top: 83px;
    left: -366px;
    @include border-radius(0, 250px, 250px, 0)
  }
  .row{
    .course{
      @include section-divider(flex,30% ,30% );
      flex-direction: column;
      @include border(0, 0, 4px, 0, solid, #3672e2);
      @include border-radius(0, 0, 5px, 5px);
      @include margin-padding(0 ,16px ,0 ,16px );
      background-color: #fff;
      position: relative;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      &:hover{
        box-shadow: 0 0 13px rgba(94, 94, 94, 0.5);
      }
      &:hover .teacher{
        top: -54px;
      }
      &:hover .teacher-name{
        width: 135px;
        left: 50px;
      }
      .status{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: $font-size - 4px;
        background-color: rgba(54, 114, 226, 0.9);
        color: #fff;
        @include margin-padding(2px,6px ,2px ,6px ,false );
        @include border-radius(2px, 2px, 2px, 2px);
      }
      .teacher{
        position: absolute;
        top: -43px;
        left: 0;
        width: 54px;
        z-index: -1;
        transition: top 1s ease;
      }
      .teacher-name{
        position: absolute;
        top: -30px;
        left: 10px;
        font-size: $font-size -3px;
        z-index: -2;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 1s ease;
      }
      .course-name{
        @include margin-padding(10px, 10px, 10px, 10px );
        font-size: $font-size  + 2px;
        color: $nav-link-color;
      }
      .meta{
        font-size: $font-size - 2px;
        @include margin-padding(0,10px,0 ,10px );
        @include margin-padding(16px,0,12px ,0,false );
        @include border(1px, 0, 0, 0, solid, #efefef);
        @include flex(flex, space-between, center);
        .course-time{
          i{
            color: #45a1ff;
            @include margin-padding(0, 0, 0, 3px );
          }
        }
        .price-status{
          @include margin-padding(0, 8px, 0, 8px,false );
          color: #f03232;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}